body {
	padding: 0;
	background-color: black;
	color: whitesmoke;
	font-family: 'Graphik 800';
	overflow-x: hidden;
}

.f-3 {
	font-size: 5rem;
}

.f-2 {
	font-size: 2rem;
}

fieldset {
	border: none;
}

.speedread {
	min-width: 100%;
	background-color: #333;
	padding: 1rem;
	opacity: 0;
	margin-bottom: 1rem;
	letter-spacing: -.05rem;
}

.speedread span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.speedread a {
	color: whitesmoke;
	text-decoration: none;
}

.progress {
	height: 5px;
	background-color: #333;
	width: 0%;
	transition: width 1s linear;
}

.hidden {
	display: none;
}
