body {
	padding: 0;
	background-color: black;
	color: whitesmoke;
	font-family: 'Graphik 800';
	overflow-x: hidden;
}

input, select, button {
	font-family: 'Graphik 800';
}

fieldset {
	border: none;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 0.125em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.75rem;
	max-width: 20rem;
	height: 3.75em;
	line-height: 3.75em;
	border-radius: 3.75em;
	padding: 0 2.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	border-radius: 4px;
	border: none;
	border: solid 1px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 0.825rem;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
	height: 2.75rem;
}

textarea {
	padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;
}

select {
	background-size: 1.25rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 1rem) center;
	height: 3.5em;
	line-height: 3.5em;
	padding-right: 2.75rem;
	text-overflow: ellipsis;
}

select:focus::-ms-value {
	background-color: transparent;
}

select::-ms-expand {
	display: none;
}

.icon {
	font-family:"Font Awesome";
}

.container {
	max-width: 100%!important;
}

.f-3 {
	font-size: 5rem;
}

.f-2 {
	font-size: 2rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.updated {
	color: #666;
	text-align: right;
	opacity: 0;
}

.read-container {
	cursor: pointer;
	padding-top: 0.25rem;
	overflow-x: hidden;
}

.speedread {
	font-size: 1.25rem;
	background-color: #333;
	padding: 1rem;
	opacity: 0;
	margin-bottom: 1rem;
	letter-spacing: -.05rem;
	border-radius: 4px;
}

.speedread ol {
	margin: 0;
}
.speedread li {
	margin-bottom: 1rem;
}
.speedread span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.speedread a {
	color: whitesmoke;
	text-decoration: none;
}

.progress-container {
	height: 5px;
	position: relative;
	top: -0.25rem;
}

.progress-item {
	flex: 1;
	height: 5px;
	background-color: #333;
	border-radius: 4px;
	margin: 0 1px;
}

.progress {
	height: 5px;
	background-color: whitesmoke;
	width: 0%;
	border-radius: 4px;
	/* transition-property: width;
	transition-timing-function: linear;
	transition-duration: 15s;*/
}

.progress.actived {
	width: 100%;
	transition: none;
}

.progress.active {
	width: 100%;
	transition: width 15s linear;
}

.icon {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	width: 32px;
	height: 32px;
}

.hidden {
	display: none;
}

@media (min-width: 960px) {
	.speedread {
		font-size: 2rem;
	}
}
@media (max-width: 960px) {
	.speedread ol {
		padding-left: 1rem;
	}
}
