html {
	overflow-x: hidden;
}

body {
	padding: 0;
	background-color: black;
	color: whitesmoke;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
	overflow-x: hidden;
	transition: all 1s ease-in-out;
}

input, select, button {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}

fieldset {
	border: none;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 0.125em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.75rem;
	max-width: 20rem;
	height: 3.75em;
	line-height: 3.75em;
	border-radius: 3.75em;
	padding: 0 2.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	border-radius: 0.25rem;
	border: none;
	border: solid aqua 3px;
	color: aqua;
	font-size: 1rem;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 0.825rem;
	margin: auto;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
	height: 2.75rem;
}

textarea {
	padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;
}

select {
	background-size: 1.25rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 1rem) center;
	height: 3.5em;
	line-height: 3.5em;
	padding-right: 2.75rem;
	text-overflow: ellipsis;
}

select:focus::-ms-value {
	background-color: transparent;
}

select::-ms-expand {
	display: none;
}

.controls {
	justify-content: flex-end;
	position: fixed;
	grid-gap: 1.25rem;
	z-index: 2;
	bottom: 0.5rem;
	right: 0.5rem;
}

.controls-search {
	pointer-events: auto;
	cursor: pointer;
}

.controls-search svg {
	width: 3rem;
	height: 3rem;
}

.controls-search svg path {
	fill: white;
}

.controls-palette {
	pointer-events: auto;
	cursor: pointer;
	transform: rotate(165deg);
	position: relative;
	top: -0.5rem;
}

.controls-palette svg {
	width: 2.25rem;
	height: 2.25rem;
}

.controls-palette svg path {
	fill: white;
}

.form {
	pointer-events: none;
	background-color: black;
	opacity: 0.9;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.form.scaleIn {
	pointer-events: auto;
}

.form form {
	justify-content: center;
}

.field {
	display: flex;
	padding: 0.25rem 0;
	text-align: center;
	grid-gap: 0.5rem;
}

.icon {
	font-family:"Font Awesome";
}

.container {
	max-width: 100%!important;
}

.f-3 {
	font-size: 5rem;
}

.f-2 {
	font-size: 2rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.updated {
	color: whitesmoke;
	text-align: right;
	opacity: 0;
	padding-right: 0.25rem;
}

.select-mode {
	display: inline-block;
	cursor: pointer;
	color: aqua;
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 0.825rem;
	border: 3px solid aqua;
	border-radius: 0.25rem;
	transition: all 0.2s ease-in-out;
}

.select-mode.selected {
	color: whitesmoke;
	border-color: whitesmoke;
}

.read-container {
	cursor: pointer;
	padding-top: 0.25rem;
	overflow-x: hidden;
}

.speedread {
	font-size: 1.25rem;
	background-color: #fff3;
	color: white!important;
	padding: 1rem;
	opacity: 0;
	margin-bottom: 1rem;
	letter-spacing: -.05rem;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
}

.speedread-date {
	font-size: 1rem;
	text-align: right;
	padding-top: 0.75rem;
	color: whitesmoke;
}

.speedread ol {
	margin: 0;
}
.speedread li {
	margin-bottom: 0.5rem;
}

.speedread li font {
	color: white!important;
}

.speedread span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.speedread a {
	color: whitesmoke;
	text-decoration: none;
}

.progress-container {
	display: none;
	opacity: 0;
	height: 0.25rem;
	position: relative;
	top: 0;
	margin-bottom: 0.5rem;
}

.progress-container.show {
	display: flex;
	width: 100%;
}

.progress-item {
	flex: 1;
	height: 0.5rem;
	background-color: #fff3;
	border-radius: 1rem;
	margin: 0 2px;
}

.progress {
	height: 0.5rem;
	background-color: #fffc;
	border-radius: 1rem;
	opacity: 0;
	/* transition-property: width;
	transition-timing-function: linear;
	transition-duration: 15s;*/
}

.progress.reset {
	opacity: 1;
	width: 100%;
}

.progress.active {
	opacity: 1;
	animation: segment 15s linear;
}

@keyframes segment {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.icon {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	width: 32px;
	height: 32px;
}

.hidden {
	display: none;
}

@media screen and (min-width: 769px) {
  .read-container {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	padding-top: 0;
  	height: 95vh;
    transform: scale(0.75) perspective(1024px) rotateY(-10deg) rotateX(3deg) rotate(3deg) translateY(0rem) translateX(-2rem);
  }
  .speedread {
    box-shadow: 1px 1px 5px 0 rgba(26, 26, 67, .05), 39px 62.5px 125px -25px rgba(50, 50, 93, .2), 23.4px 37.5px 75px -37.5px rgba(0, 0, 0, .4);
  }
}

@media (min-width: 960px) {
	.speedread {
		font-size: 2rem;
	}
}
@media (max-width: 960px) {
	.speedread ol {
		padding-left: 1rem;
	}
}
